@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="ResetPassword">

			<input class="text" asp-for="NewPassword" placeholder="Email">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmedNewPassword" placeholder="Email">
			<span asp-validation-for="ConfirmedNewPassword" class="text-danger"></span>
			<br />
			<input type="submit" value="Reset">
		</form>
	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}


